@model User

@{
    ViewBag.Title = "Benutzer löschen";
}

<h2>Benutzer löschen <small>@Html.DisplayNameFor(model => Model.ID) @Html.DisplayFor(model => Model.ID)</small></h2>

<div class="form-horizontal">

    <div class="form-group">
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Name)</b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Surname)</b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Email)</b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 btn-group btn-group-responsive">
                <input type="submit" value="Löschen" class="btn btn-default btn-danger" />
                <a href="@Url.Action("Index")" class="btn btn-default btn-warning btn-responsive">Zurück</a>
            </div>
        </div>
    }

</div>