@model IList<CalendarExportOption>

@{
    ViewBag.Title = "Kalender exportieren";
}

<h2>Kalender exportieren</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="hidden"></th>
                <th></th>
                <th>@Html.DisplayNameFor(model => Model[0].EventType)</th>
                <th>@Html.DisplayNameFor(model => Model[0].Export)</th>
            </tr>
        </thead>
        @for (int i = 0; i < Model.Count(); i++) { 
            <tr>
                <td class="hidden">@Html.HiddenFor(model => Model[i].ID)</td>
                <td><div class="@Model[i].EventType.GetCssClass()">&nbsp;</div></td>
                <td>@Html.DisplayFor(model => Model[i].EventType.Name)</td>
                <td>@Html.CheckBoxFor(model => Model[i].Export)</td>
            </tr>
        }
    </table>
    
    <div class="pager">
        <div class="btn-group btn-group-responsive">
            <input type="submit" value="Exportieren" class="btn btn-default btn-success" />
            <a href="@Url.Action("Index")" class="btn btn-default btn-warning">Zurück</a>
        </div>
    </div>
}
