@model VolleyRain.Models.Month

@{
    ViewBag.Title = "Index";
}

<h1>@Html.DisplayFor(model => model.Date)</h1>

<a href="@Url.Action("Index", new { year = Model.PreviousMonth.Year, month = Model.PreviousMonth.Month })" class="btn btn-primary">
    <span class="glyphicon glyphicon-chevron-left"></span> @Html.DisplayFor(model => model.PreviousMonth)
</a>
<a href="@Url.Action("Index", new { year = Model.NextMonth.Year, month = Model.NextMonth.Month })" class="btn btn-primary">
    @Html.DisplayFor(model => model.NextMonth) <span class="glyphicon glyphicon-chevron-right"></span>
</a>

<div class="responsive-calendar center-block">
  <div class="day-headers">
    <div class="day header">Mo</div>
    <div class="day header">Di</div>
    <div class="day header">Mi</div>
    <div class="day header">Do</div>
    <div class="day header">Fr</div>
    <div class="day header">Sa</div>
    <div class="day header">So</div>
  </div>
  <div class="days" data-group="days">
    <!-- the place where days will be generated -->
  </div>
</div>

<script>
    $( document ).ready( function() {
        $('.responsive-calendar').responsiveCalendar({
            monthChangeAnimation: false,
            allRows: false,
            time: @Html.Raw(string.Format("\"{0:yyyy-MM}\"", Model.Date)),
            events: {
                @foreach (var item in Model.Days.Where(d => d.NumberOfEvents > 0)) 
                {
                    @Html.Raw(string.Format("\"{0:yyyy-MM-dd}\": {{ \"number\": {1} }},", item.Date, item.NumberOfEvents))
                }
            },
            onDayClick: function(events) {
                window.location.href = "/Calendar/" + $(this).data("year") + "/" + $(this).data("month") + "/" + $(this).data("day");
            }
        });
    });
</script>

<script src="~/Scripts/responsive-calendar.min.js"></script>