@model IList<TeamMembershipSelection>

@{
    ViewBag.Title = "Teammitglieder";
    var team = ViewBag.Team as Team;
}

<h2>Teammitglieder <small>Team @team.Name (@team.Season.Name) <small>&raquo;&nbsp;@Html.ActionLink("Auswahl", "Select", "Team", new { ReturnUrl = Context.Request.Url }, null)</small></small></h2>

@using (Html.BeginForm())
{
    <div class="pager">
        <input type="submit" value="Speichern" class="btn btn-default btn-success btn-responsive" />
    </div>
    
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="hidden"></th>
                <th>@Html.DisplayNameFor(model => Model[0].Name)</th>
                <th>@Html.DisplayNameFor(model => Model[0].Surname)</th>
                <th class="hidden-xs">@Html.DisplayNameFor(model => Model[0].Email)</th>
                <th>
                    <span class="hidden-xs">@Html.DisplayNameFor(model => Model[0].IsMemberOfTeam)</span>
                    <span class="visible-xs">M?</span>
                </th>
                <th>
                    <span class="hidden-xs">@Html.DisplayNameFor(model => Model[0].IsCoachOfTeam)</span>
                    <span class="visible-xs">T?</span>
                </th>
                <th>
                    <span class="hidden-xs">@Html.DisplayNameFor(model => Model[0].IsTemporary)</span>
                    <span class="visible-xs">A?</span>
                </th>
                <th>
                    <span class="hidden-xs">@Html.DisplayNameFor(model => Model[0].IsAdminOfTeam)</span>
                    <span class="visible-xs">Admin?</span>
                </th>
            </tr>
        </thead>
        @for (int i = 0; i < Model.Count; i++)
        { 
            <tr>
                <td class="hidden">@Html.HiddenFor(model => Model[i].UserID)</td>
                <td>@Html.DisplayFor(model => Model[i].Name)</td>
                <td>@Html.DisplayFor(model => Model[i].Surname)</td>
                <td class="hidden-xs">@Html.DisplayFor(model => Model[i].Email)</td>
                @if (Model[i].IsSelf)
                { 
                    <td>@Html.DisplayFor(model => Model[i].IsMemberOfTeam)</td>
                    <td>@Html.DisplayFor(model => Model[i].IsCoachOfTeam)</td>
                    <td>@Html.DisplayFor(model => Model[i].IsTemporary)</td>
                }
                else
                { 
                    <td>@Html.CheckBoxFor(model => Model[i].IsMemberOfTeam, new { id = string.Format("toggle-coachandtemp-{0}", Model[i].UserID) })</td>
                    <td>@Html.CheckBoxFor(model => Model[i].IsCoachOfTeam, new { id = string.Format("coach-{0}", Model[i].UserID) })</td>
                    <td>@Html.CheckBoxFor(model => Model[i].IsTemporary, new { id = string.Format("temp-{0}", Model[i].UserID) })</td>
                }
                @if (!Model[i].IsSelf && HttpContext.Current.User.IsAdministrator())
                {
                    <td>@Html.CheckBoxFor(model => Model[i].IsAdminOfTeam)</td>
                }
                else
                { 
                    <td>@Html.DisplayFor(model => Model[i].IsAdminOfTeam)</td>
                }
            </tr>
        }
    </table>
}

<script>
    @for (int i = 0; i < Model.Count; i++)
    {
        @:$(function () {
            @:$('#toggle-coachandtemp-@Model[i].UserID').change(function () {
                @:if ($(this).is(':checked')) {
                    @:$('#coach-@Model[i].UserID').prop("disabled", false);
                    @:$('#temp-@Model[i].UserID').prop("disabled", false);
                @:} else {
                    @:$('#coach-@Model[i].UserID').prop({ disabled: true, checked: false });
                    @:$('#temp-@Model[i].UserID').prop({ disabled: true, checked: false });
                @:}
            @:}).change();  
        @:});
    }
</script>