@model IEnumerable<VolleyRain.Models.NewsArticle>

@{
    ViewBag.Title = "Index";
    var pagination = ViewBag.Pagination as VolleyRain.Models.Pagination;
}

<!--
<a href="@Url.Action("Create", "News")" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span></a>
-->

@foreach (var item in Model) { 
    <div class="jumbotron">
        @if (HttpContext.Current.User.IsAdministrator()) { 
            <div class="btn-group-vertical pull-right">
                <a href="@Url.Action("Edit", "News", new { id = item.ID })" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="@Url.Action("Delete", "News", new { id = item.ID })" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        }
        <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
        <p>@Html.DisplayFor(modelItem => item.Content)</p>
    </div>
}

@if (pagination.PageCount > 1)
{ 
    <div class="pager">
        @if (pagination.HasPreviousPage)
        {
            <a href="@Url.Action("Index", new { page = pagination.PreviousPage })" class="btn btn-primary pull-left">
                <span class="glyphicon glyphicon-chevron-left"></span> Zurück
            </a>
        }
        @if (pagination.HasNextPage)
        { 
            <a href="@Url.Action("Index", new { page = pagination.NextPage })" class="btn btn-primary pull-right">
                Weiter <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        }
    </div>
}
