@model IEnumerable<VolleyRain.Models.NewsArticle>

@{
    ViewBag.Title = "News";
    var pagination = ViewBag.Pagination as VolleyRain.Models.Pagination;
}

@if (Model.Any()) 
{ 

    foreach (var item in Model) { 
        <div class="jumbotron">
            @if (HttpContext.Current.User.IsTeamAdministrator()) { 
                <div class="btn-group-vertical pull-right">
                    <a href="@Url.Action("Edit", "News", new { newsID = item.ID })" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("Delete", "News", new { newsID = item.ID })" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            }
            <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
            @*<p class="pre-line">@Html.DisplayFor(modelItem => item.Content)</p>*@
            <p class="pre-line">@Html.ParseBBCode(item.Content)</p>
        </div>
    }

    <div class="pager">
        @Html.PreviousPageButton(pagination, "Neuere")
        @Html.NextPageButton(pagination, "Ältere")
    </div>

}
else
{
    <div class="jumbotron">
        <h1>Es wurden noch keine News veröffentlicht</h1>
        <p>Schau später wieder vorbei ;)</p>
    </div>
}