@model IEnumerable<LogSummary>

@{
    ViewBag.Title = "Log";
    var pagination = ViewBag.Pagination as VolleyRain.Models.Pagination;
}

<h2>Log</h2>

<div class="pager">
    @Html.PreviousPageButton(pagination, "Zurück")
    @Html.NextPageButton(pagination, "Weiter")
    
    <div class="btn-group btn-group-responsive">
        @RenderToggleButton(NLog.LogLevel.Fatal)
        @RenderToggleButton(NLog.LogLevel.Error)
        @RenderToggleButton(NLog.LogLevel.Warn)
        @RenderToggleButton(NLog.LogLevel.Info)
        @RenderToggleButton(NLog.LogLevel.Debug)
        @RenderToggleButton(NLog.LogLevel.Trace)
    </div>

    @*<div class="btn-group btn-group-responsive">
        <a href="#" class="btn btn-success">Suchen</a>
        <a href="@Url.Action("Index", new { fixedID = "", page = "" })" class="btn btn-warning">Fixierung aufheben</a>
    </div>*@
</div>

<table class="table table-condensed table-log with-actions">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TimeStamp)</th>
            <th class="hidden-xs">@Html.DisplayNameFor(model => model.Logger)</th>
            <th>@Html.DisplayNameFor(model => model.Message)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) { 
            <tr class="@item.GetCssClass()">
                <td>@Html.DisplayFor(modelItem => item.TimeStamp)</td>
                <td class="hidden-xs">@Html.DisplayFor(modelItem => item.ShortLogger)</td>
                @if (item.HasException)
                {
                    <td><a href="@Url.Action("Details", new { logID = item.ID })">@Html.DisplayFor(modelItem => item.Message)</a></td>
                }
                else 
                { 
                    <td>@Html.DisplayFor(modelItem => item.Message)</td>
                }
                <td>
                    <div class="btn-group btn-group-xs">
                        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="@Url.Action("Details", new { logID = item.ID })">Details</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Index", new { fixedID = item.ID, page = 1 })">Fixieren</a></li>
                            <li><a href="@Url.Action("Index", new { filterSession = item.SessionID, page = 1 })">Session filtern</a></li>
                            <li><a href="@Url.Action("Index", new { fixedID = item.ID, filterSession = item.SessionID, page = 1 })">Fixieren & filtern</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.PreviousPageButton(pagination, "Zurück")
    @Html.NextPageButton(pagination, "Weiter")
</div>

@helper RenderToggleButton(NLog.LogLevel logLevel)
{
    var session = new SessionDecorator(Session);
    
    var builder = new TagBuilder("a");
    builder.AddCssClass("btn");
    builder.MergeAttribute("href", Url.Action("ToggleLevel", new { level = logLevel.Name }));
    builder.SetInnerText(logLevel.Name);
    switch (logLevel.Name)
    {
        case "Fatal":
            if (session.ShowLogLevelFatal)
            {
                builder.AddCssClass("btn-primary");
            }
            else
            {
                builder.AddCssClass("btn-default"); 
            }
            break;
        case "Error":
            if (session.ShowLogLevelError)
            {
                builder.AddCssClass("btn-primary");
            }
            else
            {
                builder.AddCssClass("btn-default");
            }
            break;
        case "Warn":
            if (session.ShowLogLevelWarn)
            {
                builder.AddCssClass("btn-primary");
            }
            else
            {
                builder.AddCssClass("btn-default");
            }
            break;
        case "Info":
            if (session.ShowLogLevelInfo)
            {
                builder.AddCssClass("btn-primary");
            }
            else
            {
                builder.AddCssClass("btn-default");
            }
            break;
        case "Debug":
            if (session.ShowLogLevelDebug)
            {
                builder.AddCssClass("btn-primary");
            }
            else
            {
                builder.AddCssClass("btn-default");
            }
            break;
        case "Trace":
            if (session.ShowLogLevelTrace)
            {
                builder.AddCssClass("btn-primary");
            }
            else
            {
                builder.AddCssClass("btn-default");
            }
            break;
    }
    
    @Html.Raw(builder.ToString())
}