@model IEnumerable<LogSummary>

@{
    ViewBag.Title = "Log";
    var pagination = ViewBag.Pagination as VolleyRain.Models.Pagination;
}

<h2>Log</h2>

<table class="table table-condensed table-log">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TimeStamp)</th>
            <th>@Html.DisplayNameFor(model => model.Logger)</th>
            <th>@Html.DisplayNameFor(model => model.Message)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) { 
            <tr class="@item.GetCssClass()">
                <td>@Html.DisplayFor(modelItem => item.TimeStamp)</td>
                <td>@Html.DisplayFor(modelItem => item.ShortLogger)</td>
                @if (item.HasException)
                {
                    <td><a href="@Url.Action("Details", new { logID = item.ID })">@Html.DisplayFor(modelItem => item.Message)</a></td>
                }
                else 
                { 
                    <td>@Html.DisplayFor(modelItem => item.Message)</td>
                }
                <td>
                    <a class="btn btn-success btn-xs" href="@Url.Action("Details", new { logID = item.ID })">Details</a>
                    <a class="btn btn-primary btn-xs" href="@Url.Action("Index", new { fixedID = item.ID })">Fix</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.PreviousPageButton(pagination, "Zurück")
    @Html.NextPageButton(pagination, "Weiter")
</div>

<script>
    $(function () {
        $('.with-tooltip').tooltip();
    });
</script>