@model IList<VolleyRain.Models.AttendanceSelection>

@{
    ViewBag.Title = "Anwesenheitskontrolle";
}

<h2>Anwesenheitskontrolle <small>Team SVKT Rain</small></h2>

@using (Html.BeginForm())
{
    <div class="pager">
        <div class="btn-group btn-group-responsive">
            <input type="submit" value="Speichern" class="btn btn-default btn-success" />
            <a href="@Url.Action("Index")" class="btn btn-default btn-warning">Zurück</a>
        </div>
    </div>
    
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="hidden"></th>
                <th>@Html.DisplayNameFor(model => Model[0].StartDate)</th>
                <th>@Html.DisplayNameFor(model => Model[0].StartTime)</th>
                <th>@Html.DisplayNameFor(model => Model[0].EventType)</th>
                <th>@Html.DisplayNameFor(model => Model[0].AttendanceType)</th>
                <th>@Html.DisplayNameFor(model => Model[0].Comment)</th>
            </tr>
        </thead>
        @for (int i = 0; i < Model.Count(); i++) { 
            <tr>
                <td class="hidden">@Html.HiddenFor(model => Model[i].ID)</td>
                <td>@Html.DisplayFor(model => Model[i].StartDate)</td>
                <td>@Html.DisplayFor(model => Model[i].StartTime)</td>
                <td class="@Model[i].EventType.GetCssClass()">@Html.DisplayFor(model => Model[i].EventType.Name)</td>
                <td>@Html.DropDownListFor(model => Model[i].AttendanceType.ID, new SelectList(ViewBag.AttendanceTypes, "ID", "Name", Model[i].AttendanceType.ID), new { @class = "form-control" })</td>
                <td>@Html.TextBoxFor(model => Model[i].Comment, new { @class = "form-control" })</td>
            </tr>
        }
    </table>
}