@model VolleyRain.Models.AttendanceMatrix

@{
    ViewBag.Title = "Anwesenheitskontrolle";
    var pagination = ViewBag.Pagination as VolleyRain.Models.Pagination;
}

<h2>Anwesenheitskontrolle <small>Team SVKT Rain</small></h2>

<div class="pager">
    @Html.PreviousPageButton(pagination, "Zurück", "hidden-xs")
    @Html.PreviousPageButton(pagination, "Zurück", "visible-xs", new { pageSize = 5 })
    @Html.NextPageButton(pagination, "Weiter", "hidden-xs")
    @Html.NextPageButton(pagination, "Weiter", "visible-xs", new { pageSize = 5 })
    <a href="@Url.Action("Edit")" class="btn btn-success btn-responsive">Bearbeiten</a>
</div>

<table class="table table-condensed contains-@Model.Events.Count" id="table-attendances">
    <thead>
        <tr>
            <th></th>

            @foreach (var item in Model.Events) {
                <th class="@item.GetCssClass() event-@Model.IndexOf(item)">
                    <a href="@Url.Action("Details", "Event", new { eventID = item.ID })">
                        <span class="with-comment" data-toggle="tooltip" title="@Html.DisplayFor(model => item.Name)">
                            <span class="hidden-xs">@Html.FormatValue(item.Start, "{0:ddd, dd.MM. HH:mm}")</span>
                            <span class="visible-xs">@Html.FormatValue(item.Start, "{0:dd.MM.}")</span>
                        </span>
                    </a>
                </th>
            }

            <th></th>
        </tr>
    </thead>

    @foreach (var user in Model.Users) { 
    
        <tr>

            <td>
                <span class="hidden-xs">@Html.DisplayFor(model => user.Name) @Html.DisplayFor(model => user.Surname)</span>
                <span class="visible-xs">@Html.DisplayFor(model => user.Name) @Html.FormatValue(user.Surname.Substring(0,1), "{0}.")</span>
            </td>

            @foreach (var item in Model.Events) {

                var attendance = Model.GetAttendanceFor(user, item);
                var tdBuilder = new TagBuilder("td");
                tdBuilder.AddCssClass(string.Format("event-{0}", Model.IndexOf(item)));
                if (attendance != null)
                {
                    tdBuilder.AddCssClass(attendance.GetCssClass());
                    var divBuilder = new TagBuilder("div");
                    if (attendance.HasComment)
                    {
                        divBuilder.AddCssClass("with-comment");
                        divBuilder.MergeAttribute("data-toggle", "tooltip");
                        divBuilder.MergeAttribute("title", attendance.Comment);
                    }
                    var normalSpanBuilder = new TagBuilder("span");
                    //normalSpanBuilder.AddCssClass("hidden-xs");
                    normalSpanBuilder.SetInnerText(attendance.TypeShortName);
                    //var mobileSpanBuilder = new TagBuilder("span");
                    //mobileSpanBuilder.AddCssClass("visible-xs");
                    //mobileSpanBuilder.SetInnerText(attendance.TypeShortName);
                    divBuilder.InnerHtml = normalSpanBuilder.ToString(); // +mobileSpanBuilder.ToString();
                    tdBuilder.InnerHtml = divBuilder.ToString();
                }
                @Html.Raw(tdBuilder.ToString());
            }

            <td>@Html.FormatValue(user.AttendanceInPercentage, "{0}%") (@user.NumberOfAttendings / @user.PossibleAttendings)</td>
        </tr>
        
    }

    <tfoot>
        <tr>
            <th></th>

            @foreach (var item in Model.Events) {
                <th class="event-@Model.IndexOf(item)">@Model.GetAttendeesFor(item)</th>
            }

            <th></th>
        </tr>
    </tfoot>

</table>

@{
    var eventTypes = ViewBag.EventTypes as IList<EventType>;
    var attendanceTypes = ViewBag.AttendanceTypes as IList<AttendanceType>;
}

<div class="row">
    <div class="col-sm-6">
        <h3>Legende <small>Anlässe</small></h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(model => eventTypes[0].ShortName)</th>
                    <th>@Html.DisplayNameFor(model => eventTypes[0].Name)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var type in eventTypes)
                { 
                    <tr>
                        <td><div class="@type.GetCssClass()">&nbsp;</div></td>
                        <td>@Html.DisplayFor(model => type.ShortName)</td>
                        <td>@Html.DisplayFor(model => type.Name)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>Legende <small>Zustände</small></h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(model => attendanceTypes[0].ShortName)</th>
                    <th>@Html.DisplayNameFor(model => attendanceTypes[0].Name)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var type in attendanceTypes)
                { 
                    <tr>
                        <td><div class="@type.GetCssClass()">&nbsp;</div></td>
                        <td>@Html.DisplayFor(model => type.ShortName)</td>
                        <td>@Html.DisplayFor(model => type.Name)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function () {
        $('.with-comment').tooltip();
    });
</script>