@model VolleyRain.Models.AttendanceMatrix

@{
    ViewBag.Title = "Index";
    var pagination = ViewBag.Pagination as VolleyRain.Models.Pagination;
}

<h2>Anwesenheitskontrolle</h2>

@if (pagination.HasPreviousPage)
{
    <a href="@Url.Action("Index", new { page = pagination.PreviousPage })" class="btn btn-primary">
        <span class="glyphicon glyphicon-chevron-left"></span> Zurück
    </a>
}
@if (pagination.HasNextPage)
{ 
    <a href="@Url.Action("Index", new { page = pagination.NextPage })" class="btn btn-primary">
        Weiter <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
}

<a href="@Url.Action("Edit")" class="btn btn-success">Bearbeiten</a>

<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>

            @foreach (var item in Model.Events) { 
            
                <th class="@item.Type.GetCssClass()">@Html.FormatValue(item.Start, "{0:ddd, dd.MM. HH:mm}")</th>
                
            }

        </tr>
    </thead>

    @foreach (var user in Model.Users) { 
    
        <tr>

            <td>@Html.DisplayFor(model => user.Username)</td>

            @foreach (var item in Model.Events) {

                var attendanceType = Model.GetAttendanceFor(user, item);
                var cssClass = attendanceType != null ? attendanceType.GetCssClass() : string.Empty;

                if (@Model.HasComment(user, item))
                {
                    <td class="@cssClass"><div class="with-comment" data-toggle="tooltip" title="@Model.GetComment(user, item)">@Html.DisplayFor(modelItem => attendanceType.Name)</div></td>
                }
                else
                { 
                    <td class="@cssClass">@Html.DisplayFor(modelItem => attendanceType.Name)</td>
                }
                
            }

        </tr>
        
    }

    <tfoot>
        <tr>
            <th></th>

            @foreach (var item in Model.Events) { 
            
                <th>@Model.GetAttendeesFor(item)</th>
                
            }

        </tr>
    </tfoot>

</table>

<script>
    $(function () {
        $('.with-comment').tooltip();
    });
</script>