@model VolleyRain.Models.AttendanceMatrix

@{
    ViewBag.Title = "Index";
}

<h2>Anwesenheitskontrolle</h2>

<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>

            @foreach (var item in Model.Events) { 
            
                <th class="@item.Type.GetCssClass()">@Html.FormatValue(item.Start, "{0:ddd, dd.MM. HH:mm}")</th>
                
            }

        </tr>
    </thead>

    @foreach (var user in Model.Users) { 
    
        <tr>

            <td>@Html.DisplayFor(model => user.Username)</td>

            @foreach (var item in Model.Events) {

                var attendanceType = Model.GetAttendanceFor(user, item);
                var cssClass = attendanceType != null ? attendanceType.GetCssClass() : string.Empty;
              
                <td class="@cssClass">@Html.DisplayFor(modelItem => attendanceType.Name)</td>
                
            }

        </tr>
        
    }

    <tfoot>
        <tr>
            <th></th>

            @foreach (var item in Model.Events) { 
            
                <th>@Model.GetAttendeesFor(item)</th>
                
            }

        </tr>
    </tfoot>

</table>
