@model IEnumerable<VolleyRain.Models.Game>

@{
    ViewBag.Title = "Spielplan";
}

<h2>Spielplan <small>Team SVKT Rain</small></h2>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.StartTime)</th>
            <th>@Html.DisplayNameFor(model => model.HomeTeam)</th>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.GuestTeam)</th>
            <th>@Html.DisplayNameFor(model => model.Hall)</th>
        </tr>
    </thead>
    @foreach (var item in Model) { 
        <tr>
            <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
            <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
            <td>@Html.DisplayFor(modelItem => item.HomeTeam)</td>
            <td>-</td>
            <td>@Html.DisplayFor(modelItem => item.GuestTeam)</td>
            <td>@Html.DisplayFor(modelItem => item.Hall)</td>
        </tr>
    }
</table>