@model IList<EffectiveAttendanceSelection>

<h3>Anwesenheiten</h3>

@using (Html.BeginForm("Attendance", "Event", new { eventID = ViewContext.HttpContext.Request.RequestContext.RouteData.Values["eventID"] }))
{
    @Html.AntiForgeryToken();
    
    <div class="pager">
        <div class="btn-group btn-group-responsive">
            <input type="submit" value="Speichern" class="btn btn-default btn-success" />
        </div>
    </div>
    
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="hidden"></th>
                <th></th>
                <th>@Html.DisplayNameFor(model => Model[0].AttendanceType)</th>
                <th>@Html.DisplayNameFor(model => Model[0].Comment)</th>
            </tr>
        </thead>
        @for (int i = 0; i < Model.Count(); i++)
        { 
            <tr>
                <td class="hidden">@Html.HiddenFor(model => Model[i].UserID)</td>
                <td>
                    <span class="hidden-xs">@Html.DisplayFor(model => Model[i].UserName) @Html.DisplayFor(model => Model[i].UserSurname)</span>
                    <span class="visible-xs">@Html.DisplayFor(model => Model[i].UserName) @Html.FormatValue(Model[i].UserSurname.Substring(0, 1), "{0}.")</span>
                </td>
                @if (ViewContext.HttpContext.User.IsTeamAdministrator())
                {
                    <td>@Html.DropDownListFor(model => Model[i].AttendanceType.ID, new SelectList(ViewBag.AttendanceTypes, "ID", "Name", Model[i].AttendanceType.ID), new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(model => Model[i].Comment, new { @class = "form-control" })</td>
                }
                else
                { 
                    <td class="@Model[i].AttendanceType.GetCssClass()">@Html.DisplayFor(model => Model[i].AttendanceType.Name)</td>
                    <td>@Html.DisplayFor(model => Model[i].Comment)</td>
                }
            </tr>
        }
    </table>
}