@model EventDetails

@{
    ViewBag.Title = "Termin Details";
}

<h2>Termin Details</h2>

<div class="form-horizontal">

    <div class="form-group">
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Name)</b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Description)</b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Location)</b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.TypeName)</b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Start)</b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.End)</b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.End)
        </div>
    </div>

</div>

@Html.Action("Attendance", "Event", new { eventID = Model.ID }) 
